<div class="container">
    <h1>Payment successfully made</h1>
    
    <% if params[:reference].present? %>
    <div>
        <% paystack = Paystack.new(Rails.application.credentials[:paystack][:PAYSTACK_PUBLIC_KEY], Rails.application.credentials[:paystack][:PAYSTACK_PRIVATE_KEY]) %>

        <% transaction_reference = params[:reference] %>
        <% @result = PaystackTransactions.verify(paystack, transaction_reference) %>

        <pre><%= JSON.pretty_generate(@result['data']) %></pre>

        <hr>

        <% @result['data']['metadata']['custom_fields'].each do |field| %>
            <% field['value'].each do |name| %>
                <% product = Product.find_by(name: name) %>
                <p><%= product.name %> **** <%= product.sales_count %></p>
            <% end %>
        <% end %>
    </div>
    <% end %>
</div>