<div class="container">
    <h1>Cart</h1>
    <hr>
    <% @cart.each do |product| %>
        <p><%= product.name %></p>
    <% end %>
    
    <% if @cart.present? %>
        <p>
            <%= @cart.pluck(:id) %>
            
            <%= @cart.collect { |item| item.to_builder.attributes! } %>

            <%= button_to "Buy now", checkout_create_path, data: { turbo: :false, turbo_submits_with: "Validating..." }, class: "btn btn-primary btn-sm" %>
        </p>
    <% end %>
</div>